<section *ngIf="receta" class="ae-container-fluid ae-container-fluid--full">
    <header class="animated fadeIn rk-portfolio-cover  post-inside-1" [ngStyle]="{'background-image':'url('+receta.imagen+')'}">
        <div class="item-inside__meta">
            <h1 class="fondoNombre fondo ae-u-bolder rk-portfolio-title">{{receta.nombre}}</h1>
            <p class="ae-theta rk-portfolio-category"><span class="fondoCategoria fondo ae-u-bolder">{{receta.categoria}}</span></p>
            <p class="ae-kappa ae-u-bold rk-portfolio-inner-date">{{receta.fechaPost | date:'dd MMMM y' | uppercase}}</p>
        </div>
    </header>
    <div class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner">
        <div class="ae-grid ae-grid--collapse au-xs-ptp-1 au-xs-pbp-1">
            <div [innerHTML]="receta.post" class="ae-grid__item--alt item-lg-12"><span class="ae-u-boldest">1.</span> {{receta.post}}
            </div>
        </div>
        <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
            <div class="ae-grid__item item-lg-12"></div>
        </div>
    </div>
</section>
<ul *ngIf="comentarios" class="ae-container-fluid ae-container-fluid--inner rk-comments">
    <h3 class="rk-comments__title ae-u-bolder">{{comentarios.length}} Comentarios</h3>
    <li>
        <article *ngFor="let comentario of comentarios | sort" class="rk-comment">
            <aside class="rk-comment__avatar"><img src="assets/img/user-2.jpg" alt="" class="rk-comment__avatar au-circle"></aside>
            <div class="rk-comment__content">
                <header class="rk-comment__header">
                    <h5 class="rk-comment__author ae-u-bolder"><a href="#0">{{comentario.usuario.nombre}}</a></h5>
                    <div class="rk-comment__meta">
                        <p class="ae-kappa">&nbsp; {{comentario.fechaComentario | date:'dd MMMM y' | titlecase}}</p>
                    </div>
                </header>
                <div class="rk-comment__body">
                    <p>{{comentario.comentario}}</p>
                </div>
            </div>
        </article>
    </li>
    <div class="ae-grid ae-grid--collapse inner-box-3">
        <div class="ae-grid__item item-lg-8 item-lg--offset-2">
            <form action="#0" class="ae-form--full">
                <textarea placeholder="Deja tu comentario aquí ..." cols="30"></textarea>
                <div class="au-pt-3 group-buttons"><a routerLink="/login" class="au-mt-2 arrow-button arrow-button--right arrow-button--out">Envía comentario<span class="arrow-cont">
                <svg>
                  <use xlink:href="assets/img/symbols.svg#arrow"></use>
                </svg></span></a></div>
            </form>
        </div>
    </div>
</ul>
<section class="ae-container-fluid au-pt-4 au-pb-4">
    <div class="group-buttons au-mt-2"><a href="#0" class="arrow-button arrow-button--reverse">Anterior Receta
        <div class="arrow-cont arrow-cont-rev">
          <svg>
            <use xlink:href="assets/img/symbols.svg#arrow"></use>
          </svg>
        </div></a><a href="#0" class="arrow-button">Siguiente Receta<span class="arrow-cont">
          <svg>
            <use xlink:href="assets/img/symbols.svg#arrow"></use>
          </svg></span></a></div>
</section>