<section *ngIf="receta" class="ae-container-fluid ae-container-fluid--full">
    <header class="animated fadeIn rk-portfolio-cover  post-inside-1" [ngStyle]="{'background-image':'url('+receta.imagen+')'}">
        <div class="item-inside__meta">
            <h1 class="fondoNombre fondo ae-u-bolder rk-portfolio-title">{{receta.nombre}}</h1>
            <p class="ae-theta rk-portfolio-category"><span class="fondoCategoria fondo ae-u-bolder">{{receta.categoria}}</span></p>
            <p class="ae-kappa ae-u-bold rk-portfolio-inner-date">{{receta.fechaPost | date:'dd MMMM y' | titlecase}}</p>
        </div>
    </header>
    <div class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner">
        <div class="ae-grid ae-grid--collapse au-xs-ptp-1 au-xs-pbp-1">
            <div [innerHTML]="receta.post" class="ae-grid__item--alt item-lg-12"><span class="ae-u-boldest">1.</span> {{receta.post}}
            </div>
        </div>
        <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
            <div class="ae-grid__item item-lg-12"></div>
        </div>
    </div>
</section>
<ul *ngIf="comentarios" class="ae-container-fluid ae-container-fluid--inner rk-comments">
    <h3 *ngIf="comentarios.length!=1" class="rk-comments__title ae-u-bolder">{{comentarios.length}} Comentarios</h3>
    <h3 *ngIf="comentarios.length==1" class="rk-comments__title ae-u-bolder">{{comentarios.length}} Comentario</h3>
    <li>
        <article *ngFor="let comentario of comentarios | sort" class="rk-comment">
            <aside class="rk-comment__avatar"><img src="assets/img/user-2.jpg" alt="" class="rk-comment__avatar au-circle"></aside>
            <div class="rk-comment__content">
                <header class="rk-comment__header">
                    <h5 class="rk-comment__author ae-u-bolder"><a href="#0">{{comentario.usuario.nombre}}</a></h5>
                    <div class="rk-comment__meta">
                        <p class="ae-kappa">&nbsp; {{comentario.fechaComentario | date:'dd MMMM y' | titlecase}}</p>
                    </div>
                </header>
                <div class="rk-comment__body">
                    <p>{{comentario.comentario}}</p>
                </div>
            </div>
        </article>
    </li>
    <div *ngIf="receta" class="ae-grid ae-grid--collapse inner-box-3">
        <div class="ae-grid__item item-lg-8 item-lg--offset-2 text-center">
            <P class="menor">Para comentar debes <span class="azul">iniciar sesión</span> o <span class="azul">registrarte</span> si aún no tienes una cuenta</P>
            <button routerLink="/loginUrl/{{receta.idPost}}" class="btn btn-info btn-lg text-uppercase" type="submit">Envía comentario</button>
        </div>
    </div>
</ul>