<section class="ae-container-fluid rk-main">
    <section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
        <div class="animated fadeIn ae-masonry ae-masonry-md-2 ae-masonry-xl-3">
            <a *ngFor="let post of postsService.posts | sort" routerLink="/receta/{{post.idPost}}" class="rk-item ae-masonry__item">
                <img src="{{post.imagen}}" alt="{{post.nombre}}">
                <div class="item-meta">
                    <h2>{{post.nombre}}</h2>
                    <p>{{post.categoria}}</p>
                </div>
            </a>
        </div>
    </section>
</section>