<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper" class="error animated fadeIn" style="background-image:url(../../assets/images/background/error-bg.jpg);">
    <div class="error-box card">
        <div class="text-center">
            <h1>Oops!</h1>
            <h3 class="text-uppercase">Página No Encontrada !</h3>
            <p class="text-muted m-t-30 m-b-30">COME DULCES AMA</p>
            <a routerLink="/home" class="btn btn-info btn-rounded waves-effect waves-light m-b-40">Ir a la Home</a> </div>
        <p class="footer text-center">© {{anio}} JOYSWEETS</p>
    </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->