.oculto {
    display: none;
}

.topbar ul.dropdown-user li .dw-user-box .u-text {
    padding-top: 15px;
}

.topbar ul.dropdown-user li .dw-user-box .u-text h4 {
    font-size: 25px;
    color: #197AAA;
}