<footer class="ae-container-fluid rk-footer ">
    <div class="ae-grid ae-grid--collapse">
        <div class="ae-grid__item item-lg-center au-xs-ta-center">
            <a href="https://www.instagram.com/joy.sweets/" class="rk-social-btn " target="_blank">
                <svg>
                    <use xlink:href="assets/img/symbols.svg#icon-instagram"></use>
                </svg>
            </a>
        </div>
        <div class="ae-grid__item item-lg-center au-xs-ta-center">
            <ul class="rk-menu rk-footer-menu">
                <li class="rk-menu__item" routerLinkActive="active">
                    <a routerLink="/avisoLegal" class="rk-menu__link">Aviso Legal</a>
                </li>
                <li class="rk-menu__item" routerLinkActive="active">
                    <a routerLink="/privacidad" class="rk-menu__link">Política de Privacidad</a>
                </li>
                <li class="rk-menu__item" routerLinkActive="active">
                    <a routerLink="/cookies" class="rk-menu__link">Política de Cookies</a>
                </li>
                <li class="rk-menu__item" routerLinkActive="active">
                    <a routerLink="/contacto" class="rk-menu__link">Contacto</a>
                </li>
            </ul>
            <p class="rk-footer__text rk-footer__copy "> <span class="ae-u-bold">© </span><span class="ae-u-bolder">{{anio}} JOYSWEETS </span></p>
        </div>
    </div>
</footer>