<div class="row animated fadeIn">

    <div class="col-md-12">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Comentario</h3>
            <h6 class="card-subtitle">Dulces Emociones</h6>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form ngNativeValidate [formGroup]="form" (ngSubmit)="actualizarComentario()">
                        <div class="form-group">
                            <label>Comentario</label>
                            <textarea formControlName="comentario" name="comentario" class="form-control" rows="5" required></textarea>
                        </div>
                        <!-- Campo oculto del id -->
                        <input type="hidden" formControlName="idComentario" name="idComentario">
                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10"><i class="fa fa-save"></i> Guardar</button>
                        <a routerLink="/admin/comentarios" class="btn btn-inverse waves-effect waves-light">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>