<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input [(ngModel)]="filtercomment" name="filtercomment" type="text" class="form-control joy" placeholder="&#xf002; Buscar..." style="font-family:'Montserrat', FontAwesome">
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Comentarios (<small>{{comentarios.length}}</small>)</h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th [ngStyle]="{'width':'52%'}">Comentario</th>
                            <th>Fecha</th>
                            <th [ngStyle]="{'width':'13%'}"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let comentario of comentarios | filterComment:filtercomment">
                            <td>{{comentario.comentario}}</td>
                            <td>{{comentario.fechaComentario | date: 'EEEE, d MMMM y' | titlecase}}</td>
                            <td>
                                <button [routerLink]="['/admin/comentario', comentario.idComentario]" class="btn btn-primary m-r-10" title="Modificar este comentario">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button (click)="borrarComentario(comentario)" class="btn btn-danger" title="Borrar este comentario">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>