<div class="ae-container-fluid ae-container-fluid--inner rk-main animated fadeIn">
    <div class="ae-grid">
        <div class="ae-grid__item item-lg-12 ae-kappa"><img src="assets/img/contacto.jpg" alt="Contacto" class="au-mb-3">
        </div>
    </div>
    <div class="ae-grid au-pt-2">
        <div class="ae-grid__item item-lg-8 item-lg--offset-2">
            <h4 class="ae-u-bolder azul">Escríbeme</h4>
            <p class="contact__desc">Para cualquier duda usa el Email de abajo! <br>Te ayudaré!</p>
            <p><span class="contact__email au-block au-truncate"> <span class="rk-light-color">Email: &nbsp;&nbsp; </span><span class="azul">info@joysweets.es</span></span>
        </div>
    </div>
</div>