<div class="ae-container-fluid ae-container-fluid--inner rk-main">
    <div class="ae-grid au-xs-ta-center">
        <div class="ae-grid__item item-lg-12 ae-kappa animated fadeIn"><img src="assets/img/about.jpg" alt="Sobre mí" class="au-mb-3">

        </div>
    </div>
    <div class="ae-grid au-pt-2">
        <div class="ae-grid__item item-lg-8 item-lg--offset-2">
            <h4 class="ae-u-bolder">Me llamo Jose</h4>
            <p class="ae-u-bolder au-mb-3">Y soy Desarrollador Web</p>
            <p>Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.</p>
        </div>
        <p class="au-flex group-buttons"><a routerLink="blog" class="au-mt-3 arrow-button arrow-button--right arrow-button--out">Recetas<span class="arrow-cont">
          <svg>
            <use xlink:href="assets/img/symbols.svg#arrow"></use>
          </svg></span></a></p>
    </div>