<div class="ae-container-fluid ae-container-fluid--inner rk-main animated fadeIn">
    <div class="ae-grid au-xs-ta-center">
        <div class="ae-grid__item item-lg-12 ae-kappa"><img src="assets/img/about.jpg" alt="Sobre mí" class="au-mb-3">

        </div>
    </div>
    <div class="ae-grid au-pt-2">
        <div class="ae-grid__item item-lg-8 item-lg--offset-2 justify">
            <h4 class="ae-u-bolder azul">HOLA! ME LLAMO JOSE</h4>
            <p class="ae-u-bolder au-mb-3">Soy Desarrollador Web y vivo en Gijón, en el Principado de Asturias</p>
            <p class="au-mb-3">Mi pasión comenzó cuando terminé los estudios de Ingeniería Técnica Industrial. Más tarde viví 4 años en Valencia donde estudié Diseño Gráfico y un Máster de Aplicaciones Web.</p>
            <p class="au-mb-3">Continué con mi formación y estudié el Grado Superior de Desarrollo de Aplicaciones Web en La Laboral, en Gijón.</p>
            <p class="au-mb-3">Además del Diseño y la Programación me gusta cocinar, y sobre todo comer, y me apetecía compartir con vosotros las recetas que más me gustan. Soy un llambión, por eso todas las recetas son dulces.</p>
            <p class="au-mb-3">Espero que os gusten!</p>
        </div>
        <p class="au-flex group-buttons"><a routerLink="/blog" class="au-mt-3 arrow-button arrow-button--right arrow-button--out">Ver Recetas<span class="arrow-cont">
          <svg>
            <use xlink:href="assets/img/symbols.svg#arrow"></use>
          </svg></span></a></p>
    </div>