<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input [(ngModel)]="filteruser" name="filteruser" type="text" class="form-control joy" placeholder="&#xf002; Buscar..." style="font-family:'Montserrat', FontAwesome">
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Usuarios registrados (<small>{{usuarios.length}}</small>)</h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Rol</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usuario of usuarios | filterUser:filteruser">
                            <td>{{usuario.nombre}}</td>
                            <td>{{usuario.username}}</td>
                            <td>{{usuario.roles[0].roleName | rol}}</td>
                            <td>
                                <button [routerLink]="[ '/admin/usuario', usuario.idUsuario] " class="btn btn-primary m-r-10" title="Modificar este usuario">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button (click)="borrarUsuario(usuario)" class="btn btn-danger" title="Eliminar este usuario">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>