<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input [(ngModel)]="filterpost" name="filterpost" type="text" class="form-control joy" placeholder="&#xf002; Buscar..." style="font-family:'Montserrat', FontAwesome">
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="text-right">
                    <button [routerLink]="['/admin/postNuevo']" type="button" class="btn waves-effect waves-light btn-primary">
                    <i class="fa fa-plus"></i> 
                    Crear Receta
                  </button>
                </div>

                <h3 class="card-title">Recetas (<small>{{posts.length}}</small>)</h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th [ngStyle]="{'width':'20%'}">Nombre</th>
                            <th [ngStyle]="{'width':'5%'}">Categoría</th>
                            <th [ngStyle]="{'width':'57%'}">Receta</th>
                            <th [ngStyle]="{'width':'5%'}">Imagen</th>
                            <th [ngStyle]="{'width':'13%'}"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let post of posts | filterPost:filterpost">
                            <td>{{post.nombre}}</td>
                            <td>{{post.categoria}}</td>
                            <td [innerHTML]="post.post"></td>
                            <td id=" image-popups ">
                                <a href="assets/img/{{post.imagen}} " data-effect="mfp-zoom-in "><img src="assets/img/{{post.imagen}} " class="img-responsive img-thumbnail img-50 pointer "></a>
                            </td>
                            <td>
                                <button [routerLink]="[ '/admin/post', post.idPost] " class="btn btn-primary m-r-10 " title="Modificar esta receta ">
                                    <i class="fa fa-pencil "></i>
                                </button>
                                <button (click)="borrarPost(post) " class="btn btn-danger " title="Eliminar esta receta ">
                                    <i class="fa fa-trash-o "></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>