/* Animación */

.animated {
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@media (print),
(prefers-reduced-motion: reduce) {
    .animated {
        -webkit-animation-duration: 1ms !important;
        animation-duration: 1ms !important;
        -webkit-transition-duration: 1ms !important;
        transition-duration: 1ms !important;
        -webkit-animation-iteration-count: 1 !important;
        animation-iteration-count: 1 !important;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}


/* Cursor */

.pointer {
    cursor: pointer;
}


/* Tamaño de la imagen de la receta */

.img-50 {
    width: 50px;
    height: 50px;
}


/* Input */

.joy {
    padding: .5rem .75rem !important;
    border: 1px solid rgba(0, 0, 0, .15) !important;
    border-radius: .25rem;
    margin: 0 !important;
}


/* Enlaces */

.rk-menu__link {
    color: #A3CBDE;
}

.rk-menu__link:hover {
    color: #197AAA
}

.rk-menu__link:focus {
    color: #197AAA;
}


/* Footer */

.rk-footer__text {
    color: #197AAA
}